/*express.js-Jingya Huang 301221651 June 6, 2023 */
.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid: gap 40px;
  margin-top: 50px;
  }
  .project-content {
    padding-left: 120px;
  }