<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <div class="content">
      <div class="flex-container">
        <div class="photo">
          <img src="/img/photo.jpg" alt="Photo" style="width: 350px; height: auto; float: right;">
        </div>
        <div class="list">
          <h1>Hi, I'm Jingya Huang From China</h1>
          <p>I am a student of Software Engineering Technology at Centennial College.</p>
          <h1>Summary of Qualifications</h1>
          <ul>
            <li>Experience designing, developing, and testing various kinds of software applications</li>
            <li>Proven skill in cross-team collaboration and bridge understanding between technical and business teams</li>
            <li>Skilled with Java and C# programming, database management, testing & QA, web/mobile app development:</li>
            <li>Front-End: HTML, CSS, JavaScript, Kotlin, Angular, React</li>
            <li>Back-End: C#, Java, Node.js, SQL, MongoDB</li>
            <li>Tools: MS Office Suite, Visual Paradigm, Jira, GitHub, Visual Studio, Eclipse, Visual Studio Code, Android Studio</li>
            <li>Multilingual in English, Chinese, and Japanese with strong communication skills and cross-cultural sensitivity</li>
          </ul>
          <a href="/assets/Resume.pdf" download>Download Resume</a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>